* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/istockphoto-1081422898-612x612.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(3px);
}

.wrapper {
  width: 420px;
  background: transparent;
  color: white;
  border: 4px solid grey;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: rgba(154, 2, 154, 0.4) -5px 5px, rgba(154, 2, 154, 0.3) -10px 10px,
    rgba(154, 2, 154, 0.2) -15px 15px, rgba(154, 2, 154, 0.1) -20px 20px,
    rgba(154, 2, 154, 0.05) -25px 25px;
}

.wrapper h1 {
  margin-top: 15px;
  font-size: 35px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid grey;
  border-radius: 40px;
  font-size: 15px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .area {
  position: relative;
  display: flex;
  justify-content: center;
}

.wrapper .area textarea {
  background: none;
  border: 2px solid grey;
  color: #fff;
  outline: none;
}

.area textarea::placeholder {
  color: #fff;
}

.area i {
  position: absolute;
  margin-left: 82%;
  top: 14%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .btn {
  font-weight: 700;
  margin: 25px 10px 10px 80px;
  width: 50%;
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}

.wrapper .btn:hover {
  background: rgb(154, 2, 154);
}
.a {
  display: flex;
  margin: 20px 10px 0 100px;
  color: #fff;
}

.a:hover {
  color: rgb(154, 2, 154);
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0;
    position: relative;
    flex-direction: column;
  }
  .wrapper h1 {
    display: flex;
    flex-direction: column;
  }

  .wrapper .input-box {
    display: flex;
    flex-direction: column;
  }
  .area {
    display: flex;
    flex-direction: column;
  }

  .wrapper.btn {
    display: flex;
    flex-direction: column;
  }

  .area i {
    display: flex;
    position: absolute;
  }
  .a {
    display: flex;
    margin-bottom: 10px;
    position: relative;
  }
}
